// breakpoints
$premio_small_mobile   : 400px;
$premio_mobile         : 575px;
$premio_tablet         : 768px;
$premio_large_tablet   : 850px;
$premio_laptop         : 991px;
$premio_small_desktop  : 1199px;
$premio_desktop        : 1600px;
$premio_max            : 9999999999px;