// @import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "./lib/slick";
@import './admin/editor';

* {
  @apply m-0 p-0 box-border;
}

body::-webkit-scrollbar{
  @apply w-1.5 bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray hover:bg-primary rounded-full border border-solid border-gray hover:border-primary;
}

// header nav menu css

@media (min-width: 1024px) {
  nav {
    .dropdown-menu {
      li {
        @apply relative ml-5;

        &::before {
          content: "";
          @apply w-2 h-2 rounded-full bg-gray inline-block absolute -left-3 top-4 ease-linear duration-200;
        }

        &:hover:before {
          @apply bg-secondary;
        }
      }
    }
  }
}

.element-list__item {
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 46px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer utilities {
  .primary-shadow {
    box-shadow: 0px 4px 10px var(--doatkolom_primary_shadow_color);
  }
}