// @import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

* {
    @apply m-0 p-0 box-border;
}

// gutenberg style start
.editor-styles-wrapper {
    padding: 0;
    margin: 0;
}

.doatkolom-editor-tab {
    .components-tab-panel__tabs {
        position: absolute;
        top: 84px;
        left: 16px;
        width: 160px;
    }

    .components-tab-panel__tab-content {
        padding-left: 24px;
        margin-left: 160px !important;
    }

    .components-tab-panel__tabs-item {
        box-shadow: none !important;

        &.is-active {
            background: #f0f0f0;
            box-shadow: none;
            font-weight: 500;
            border-radius: 2px;
        }

        &.is-active::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 1px;
            right: 0;
            left: 0;
            border-bottom: 4px solid transparent;
        }
    }

    .components-tab-panel__tab-content {
        width: 100%;
    }
}



// gutenberg style end

// header nav menu css

@media ( min-width: 1024px ) {
    nav {
        .dropdown-menu {
            li {
                @apply relative ml-5;
    
                &::before {
                    content: '';
                    @apply w-2 h-2 rounded-full bg-slate-300 inline-block absolute -left-3 top-4 ease-linear duration-200;
                }
    
                &:hover:before {
                    @apply bg-secondary;
                }
            }
        }
    }
}