.lazyload {
    opacity: 0;
  }
  
  .lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background:  var(--doatkolom-loading-img) no-repeat center;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 9ms;
  }
  